<div class="wrap">
  <section id="media_image-8" class="widget widget_media_image">
    <div class="widget-wrap">
      <a href="http://diennuochd.com.vn/">
        <img
          src="/asset/images/upload/hdthd.svg"
          class="image wp-image-56 attachment-full size-full"
          alt=""
          decoding="async"
          loading="lazy"
        />
      </a>
    </div>
  </section>
  <section id="media_image-10" class="widget widget_media_image">
    <div class="widget-wrap">
      <a
        href="/view/khach-hang-can-biet/thong-tin-can-biet/thu-tuc-hanh-chinh-ve-nuoc/"
      >
        <img
          width="298"
          height="100"
          src="/asset/images/upload/thu-tuc-hanh-chinh-lap-dong-ho-nuoc-1.png"
          class="image wp-image-647 attachment-full size-full"
          alt=""
          decoding="async"
          loading="lazy"
        />
      </a>
    </div>
  </section>
  <section id="media_image-9" class="widget widget_media_image">
    <div class="widget-wrap">
      <a
        href="/view/dich-vu-truc-tuyen/thanh-toan-truc-tuyen/cac-hinh-thuc-thanh-toan.html"
      >
        <img
          src="/asset/images/upload/ttqnh.svg"
          class="image wp-image-58 attachment-full size-full"
          alt=""
          decoding="async"
          loading="lazy"
        />
      </a>
    </div>
  </section>
  <section id="media_image-7" class="widget widget_media_image">
    <div class="widget-wrap">
      <a
        href="/view/khach-hang-can-biet/thong-tin-can-biet/thu-tuc-hanh-chinh-ve-dien/ho-so-bo-thu-tuc-hanh-chinh-ve-cung-cap-dien.html"
      >
        <img
          width="298"
          height="100"
          src="/asset/images/upload/thu-tuc-dang-ky-lap-dong-ho-dien-moi.png"
          class="image wp-image-631 attachment-full size-full"
          alt=""
          decoding="async"
          loading="lazy"
        />
      </a>
    </div>
  </section>
</div>
