<nav
  class="nav-primary"
  aria-label="Main"
  itemscope
  itemtype="https://schema.org/SiteNavigationElement"
>
  <div class="wrap">
    <ul id="menu-main-menu" class="menu genesis-nav-menu menu-primary">
      <li
        id="menu-item-19"
        class="trangchu menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-19"
      >
        <a href="/index.html" aria-current="page" itemprop="url">
          <span itemprop="name"> Trang chủ </span>
        </a>
      </li>
      <li
        id="menu-item-20"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-20"
      >
        <a href="/view/gioi-thieu/index.html" itemprop="url">
          <span itemprop="name"> Giới thiệu </span>
        </a>
        <ul class="sub-menu">
          <li
            id="menu-item-22"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"
          >
            <a href="/view/gioi-thieu/co-cau-to-chuc.html" itemprop="url">
              <span itemprop="name"> Cơ cấu tổ chức </span>
            </a>
          </li>
          <li
            id="menu-item-21"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"
          >
            <a
              href="/view/gioi-thieu/chuc-nang-va-nhiem-vu.html"
              itemprop="url"
            >
              <span itemprop="name"> Chức năng và nhiệm vụ </span>
            </a>
          </li>
          <li
            id="menu-item-24"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"
          >
            <a href="/view/gioi-thieu/thanh-tich.html" itemprop="url">
              <span itemprop="name"> Thành tích </span>
            </a>
          </li>
          <li
            id="menu-item-23"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"
          >
            <a
              href="/view/gioi-thieu/dinh-huong-phat-trien.html"
              itemprop="url"
            >
              <span itemprop="name"> Định hướng phát triển </span>
            </a>
          </li>
        </ul>
      </li>
      <li
        id="menu-item-30"
        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-30"
      >
        <a href="/view/tin-tuc-su-kien/index.html" itemprop="url">
          <span itemprop="name"> Tin tức &#8211; Sự kiện </span>
        </a>
        <ul class="sub-menu">
          <li
            id="menu-item-31"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31"
          >
            <a
              href="/view/tin-tuc-su-kien/hoat-dong-cua-cong-ty/index.html"
              itemprop="url"
            >
              <span itemprop="name"> Hoạt động của Công ty </span>
            </a>
          </li>
          <li
            id="menu-item-32"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-32"
          >
            <a
              href="/view/tin-tuc-su-kien/van-ban-quan-ly-dieu-hanh/index.html"
              itemprop="url"
            >
              <span itemprop="name">
                Văn bản &#8211; Quản lý &#8211; Điều hành
              </span>
            </a>
          </li>
          <li
            id="menu-item-727"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-727"
          >
            <a
              href="/view/tin-tuc-su-kien/diem-tin-nganh-nuoc/index.html"
              itemprop="url"
            >
              <span itemprop="name"> Điểm tin ngành nước </span>
            </a>
          </li>
          <li
            id="menu-item-728"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-728"
          >
            <a
              href="/view/tin-tuc-su-kien/hoi-thao-hoi-thao/index.html"
              itemprop="url"
            >
              <span itemprop="name"> Hội thảo &#8211; Hội thao </span>
            </a>
          </li>
          <li
            id="menu-item-729"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-729"
          >
            <a
              href="/view/tin-tuc-su-kien/tin-dia-phuong/index.html"
              itemprop="url"
            >
              <span itemprop="name"> Tin địa phương </span>
            </a>
          </li>
          <li
            id="menu-item-730"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-730"
          >
            <a
              href="/view/tin-tuc-su-kien/tin-khoa-hoc-cong-nghe/index.html"
              itemprop="url"
            >
              <span itemprop="name"> Tin khoa học &#8211; công nghệ </span>
            </a>
          </li>
        </ul>
      </li>
      <li
        id="menu-item-29"
        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-29"
      >
        <a href="/view/san-pham-dich-vu/index.html" itemprop="url">
          <span itemprop="name"> Sản phẩm &#8211; Dịch vụ </span>
        </a>
        <ul class="sub-menu">
          <li
            id="menu-item-511"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-511"
          >
            <a href="/view/san-pham-dich-vu/nuoc-sach.html" itemprop="url">
              <span itemprop="name"> Nước sạch </span>
            </a>
          </li>
          <li
            id="menu-item-505"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-505"
          >
            <a href="/view/san-pham-dich-vu/dien-sinh-hoat.html" itemprop="url">
              <span itemprop="name"> Điện sinh hoạt </span>
            </a>
          </li>
          <li
            id="menu-item-503"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-503"
          >
            <a
              href="/view/san-pham-dich-vu/dien-nang-luong-mat-troi/index.html"
              itemprop="url"
            >
              <span itemprop="name"> Điện năng lượng mặt trời </span>
            </a>
          </li>
        </ul>
      </li>
      <li
        id="menu-item-27"
        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-27"
      >
        <a href="/view/khach-hang-can-biet/index.html" itemprop="url">
          <span itemprop="name"> Khách hàng cần biết </span>
        </a>
        <ul class="sub-menu">
          <li
            id="menu-item-499"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-499"
          >
            <a
              href="/view/khach-hang-can-biet/ket-qua-kiem-nghiem.html"
              itemprop="url"
            >
              <span itemprop="name"> Kết quả kiểm nghiệm </span>
            </a>
          </li>
          <li
            id="menu-item-494"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-494"
          >
            <a
              href="/view/khach-hang-can-biet/thong-tin-can-biet.html"
              itemprop="url"
            >
              <span itemprop="name"> Thông tin cần biết </span>
            </a>
            <ul class="sub-menu">
              <li
                id="menu-item-548"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-548"
              >
                <a
                  href="/view/khach-hang-can-biet/thong-tin-can-biet/thong-bao-cup-dien.html"
                  itemprop="url"
                >
                  <span itemprop="name"> Thông báo cúp điện </span>
                </a>
              </li>
              <li
                id="menu-item-549"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-549"
              >
                <a
                  href="/view/khach-hang-can-biet/thong-tin-can-biet/thong-bao-cup-nuoc.html"
                  itemprop="url"
                >
                  <span itemprop="name"> Thông báo cúp nước </span>
                </a>
              </li>
              <li
                id="menu-item-968"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-968"
              >
                <a
                  href="/view/khach-hang-can-biet/thong-tin-can-biet/thong-tin-tuyen-truyen/index.html"
                  itemprop="url"
                >
                  <span itemprop="name"> Thông tin tuyên truyền </span>
                </a>
              </li>
              <li
                id="menu-item-518"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-518"
              >
                <a
                  href="/view/khach-hang-can-biet/thong-tin-can-biet/thu-tuc-hanh-chinh-ve-dien.html"
                  itemprop="url"
                >
                  <span itemprop="name"> Thủ tục hành chính về điện </span>
                </a>
              </li>
              <li
                id="menu-item-519"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-519"
              >
                <a
                  href="/view/khach-hang-can-biet/thong-tin-can-biet/thu-tuc-hanh-chinh-ve-nuoc/index.html"
                  itemprop="url"
                >
                  <span itemprop="name"> Thủ tục hành chính về nước </span>
                </a>
              </li>
            </ul>
          </li>
          <li
            id="menu-item-490"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-490"
          >
            <a
              href="/view/khach-hang-can-biet/hoa-don-dien-tu.html"
              itemprop="url"
            >
              <span itemprop="name"> Hóa đơn điện tử </span>
            </a>
          </li>
          <li
            id="menu-item-463"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-463"
          >
            <a
              href="/view/khach-hang-can-biet/gia-dich-vu-thoat-nuoc.html"
              itemprop="url"
            >
              <span itemprop="name"> Giá dịch vụ thoát nước </span>
            </a>
          </li>
          <li
            id="menu-item-462"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-462"
          >
            <a
              href="/view/khach-hang-can-biet/bang-gia-nuoc.html"
              itemprop="url"
            >
              <span itemprop="name"> Bảng giá nước </span>
            </a>
          </li>
          <li
            id="menu-item-461"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-461"
          >
            <a
              href="/view/khach-hang-can-biet/bang-gia-dien.html"
              itemprop="url"
            >
              <span itemprop="name"> Bảng giá điện </span>
            </a>
          </li>
        </ul>
      </li>
      <li
        id="menu-item-135"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"
      >
        <a href="/view/gioi-thieu/quan-he-co-dong/index.html" itemprop="url">
          <span itemprop="name"> Quan hệ cổ đông </span>
        </a>
      </li>
      <li
        id="menu-item-26"
        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-26"
      >
        <a href="/view/dich-vu-truc-tuyen/index.html" itemprop="url">
          <span itemprop="name"> Dịch vụ trực tuyến </span>
        </a>
        <ul class="sub-menu">
          <li
            id="menu-item-563"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-563"
          >
            <a
              href="/view/dich-vu-truc-tuyen/thanh-toan-truc-tuyen/index.html"
              itemprop="url"
            >
              <span itemprop="name"> Thanh toán trực tuyến </span>
            </a>
          </li>
          <li
            id="menu-item-562"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-562"
          >
            <a
              href="/view/dich-vu-truc-tuyen/dang-ky-truc-tuyen/index.html"
              itemprop="url"
            >
              <span itemprop="name"> Đăng ký trực tuyến </span>
            </a>
          </li>
        </ul>
      </li>
      <li
        id="menu-item-25"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"
      >
        <a href="/view/lien-he.html" itemprop="url">
          <span itemprop="name"> Liên hệ </span>
        </a>
      </li>
      <li
        id="menu-item-33"
        class="timkiem menu-item menu-item-type-custom menu-item-object-custom menu-item-33"
      >
        <a itemprop="url"> <span itemprop="name"> Tìm kiếm </span> </a>
      </li>
    </ul>
  </div>
</nav>
