<section id="caia-post-list-2" class="widget caia-post-list-widget">
              <div class="widget-wrap">
                <div class="widget-title widgettitle">
                  <p>
                    <a
                      href="/view/tin-tuc-su-kien/hoat-dong-cua-cong-ty/index.html"
                    >
                      Các hoạt động
                    </a>
                  </p>
                </div>
                <div class="main-posts">
                  <div
                    class="post-1339 post type-post status-publish format-standard has-post-thumbnail category-hoat-dong-cua-cong-ty entry"
                  >
                    <a
                      href="/view/tin-tuc-su-kien/hoat-dong-cua-cong-ty/nam-2024-cong-ty-co-phan-dien-nuoc-an-giang-dat-doanh-thu-2-650-ty-dong.html"
                      title="Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu 2.650 tỷ đồng"
                      class="alignleft"
                    >
                      <img
                        width="750"
                        height="500"
                        src="/asset/images/upload/img_8713_compressed-750x500.webp"
                        class="attachment-thumbnail size-thumbnail"
                        alt="Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu 2.650 tỷ đồng"
                        title="Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu 2.650 tỷ đồng"
                        decoding="async"
                        loading="lazy"
                      />
                    </a>
                    <div class="list-info">
                      <p class="widget-item-title">
                        <a
                          href=/view/tin-tuc-su-kien/hoat-dong-cua-cong-ty/nam-2024-cong-ty-co-phan-dien-nuoc-an-giang-dat-doanh-thu-2-650-ty-dong.html"
                          title="Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu 2.650 tỷ đồng"
                        >
                          Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh
                          thu 2.650 tỷ đồng
                        </a>
                      </p>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div
                    class="post-1312 post type-post status-publish format-standard has-post-thumbnail category-hoat-dong-cua-cong-ty entry"
                  >
                    <a
                      href="/view/tin-tuc-su-kien/hoat-dong-cua-cong-ty/mang-tet-am-ve-dong-bao-bien-gioi.html"
                      title="Mang tết ấm về đồng bào biên giới"
                      class="alignleft"
                    >
                      <img
                        width="750"
                        height="500"
                        src="/asset/images/upload/z6246438898307_abf7ecb1adc22ec9d8f8176fb564d9ed-750x500.webp"
                        class="attachment-thumbnail size-thumbnail"
                        alt="Mang tết ấm về đồng bào biên giới"
                        title="Mang tết ấm về đồng bào biên giới"
                        decoding="async"
                        loading="lazy"
                        srcset="
                          /asset/images/upload/z6246438898307_abf7ecb1adc22ec9d8f8176fb564d9ed-750x500.webp 750w,
                          /asset/images/upload/z6246438898307_abf7ecb1adc22ec9d8f8176fb564d9ed.webp         869w
                        "
                        sizes="(max-width: 750px) 100vw, 750px"
                      />
                    </a>
                    <div class="list-info">
                      <p class="widget-item-title">
                        <a
                          href="/view/tin-tuc-su-kien/hoat-dong-cua-cong-ty/mang-tet-am-ve-dong-bao-bien-gioi.html"
                          title="Mang tết ấm về đồng bào biên giới"
                        >
                          Mang tết ấm về đồng bào biên giới
                        </a>
                      </p>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div
                    class="post-1281 post type-post status-publish format-standard has-post-thumbnail category-hoat-dong-cua-cong-ty entry"
                  >
                    <a
                      href="/view/tin-tuc-su-kien/hoat-dong-cua-cong-ty/cong-ty-co-phan-dien-nuoc-an-giang-to-chuc-hoi-nghi-giao-chi-tieu-ke-hoach-san-xuat-kinh-doanh-nam-2025-va-trao-quyet-dinh-can-bo-quan-ly.html"
                      title="Công ty Cổ phần Điện Nước An Giang tổ chức hội nghị giao chỉ tiêu kế hoạch sản xuất, kinh doanh năm 2025 và trao quyết định cán bộ quản lý"
                      class="alignleft"
                    >
                      <img
                        width="750"
                        height="500"
                        src="/asset/images/upload/9-1-2025-cthdqt-phat-bieu-750x500.webp"
                        class="attachment-thumbnail size-thumbnail"
                        alt="Công ty Cổ phần Điện Nước An Giang tổ chức hội nghị giao chỉ tiêu kế hoạch sản xuất, kinh doanh năm 2025 và trao quyết định cán bộ quản lý"
                        title="Công ty Cổ phần Điện Nước An Giang tổ chức hội nghị giao chỉ tiêu kế hoạch sản xuất, kinh doanh năm 2025 và trao quyết định cán bộ quản lý"
                        decoding="async"
                        loading="lazy"
                      />
                    </a>
                    <div class="list-info">
                      <p class="widget-item-title">
                        <a
                          href="/view/tin-tuc-su-kien/hoat-dong-cua-cong-ty/cong-ty-co-phan-dien-nuoc-an-giang-to-chuc-hoi-nghi-giao-chi-tieu-ke-hoach-san-xuat-kinh-doanh-nam-2025-va-trao-quyet-dinh-can-bo-quan-ly.html"
                          title="Công ty Cổ phần Điện Nước An Giang tổ chức hội nghị giao chỉ tiêu kế hoạch sản xuất, kinh doanh năm 2025 và trao quyết định cán bộ quản lý"
                        >
                          Công ty Cổ phần Điện Nước An Giang tổ chức hội nghị
                          giao chỉ tiêu kế hoạch sản xuất, kinh doanh năm 2025
                          và trao quyết định cán bộ quản lý
                        </a>
                      </p>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div
                    class="post-1259 post type-post status-publish format-standard has-post-thumbnail category-hoat-dong-cua-cong-ty entry"
                  >
                    <a
                      href="/view/tin-tuc-su-kien/hoat-dong-cua-cong-ty/ban-giao-cong-trinh-den-nang-luong-tai-xa-quoc-thai.html"
                      title="Bàn giao công trình đèn năng lượng tại xã Quốc Thái"
                      class="alignleft"
                    >
                      <img
                        width="750"
                        height="500"
                        src="/asset/images/upload/z6193535027676_cd4336ce276da0b30f0c8be9360ebc54-750x500.webp"
                        class="attachment-thumbnail size-thumbnail"
                        alt="Bàn giao công trình đèn năng lượng tại xã Quốc Thái"
                        title="Bàn giao công trình đèn năng lượng tại xã Quốc Thái"
                        decoding="async"
                        loading="lazy"
                      />
                    </a>
                    <div class="list-info">
                      <p class="widget-item-title">
                        <a
                          href="/view/tin-tuc-su-kien/hoat-dong-cua-cong-ty/ban-giao-cong-trinh-den-nang-luong-tai-xa-quoc-thai.html"
                          title="Bàn giao công trình đèn năng lượng tại xã Quốc Thái"
                        >
                          Bàn giao công trình đèn năng lượng tại xã Quốc Thái
                        </a>
                      </p>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </section>
            <section
              id="caia-post-list-17"
              class="widget caia-post-list-widget"
            >
              <div class="widget-wrap">
                <div class="widget-title widgettitle">
                  <p>
                    <a
                      href="/view/tin-tuc-su-kien/van-ban-quan-ly-dieu-hanh/index.html"
                    >
                      Văn bản- Thông báo
                    </a>
                  </p>
                </div>
                <div class="main-posts">
                  <div
                    class="post-1086 post type-post status-publish format-standard has-post-thumbnail category-khach-hang-can-biet category-van-ban-quan-ly-dieu-hanh entry"
                  >
                    <a
                      href="/view/khach-hang-can-biet/dieu-chinh-gia-dich-vu-thoat-nuoc-tren-dia-ban-thanh-pho-long-xuyen.html"
                      title="Điều chỉnh giá dịch vụ thoát nước trên địa bàn Thành phố Long Xuyên"
                      class="alignleft"
                    >
                      <img
                        width="750"
                        height="400"
                        src="/asset/images/upload/white-and-blue-modern-business-card-800-x-400-px-750x400.png"
                        class="attachment-thumbnail size-thumbnail"
                        alt="Điều chỉnh giá dịch vụ thoát nước trên địa bàn Thành phố Long Xuyên"
                        title="Điều chỉnh giá dịch vụ thoát nước trên địa bàn Thành phố Long Xuyên"
                        decoding="async"
                      />
                    </a>
                    <div class="list-info">
                      <h3 class="widget-item-title">
                        <a
                          href="/view/khach-hang-can-biet/dieu-chinh-gia-dich-vu-thoat-nuoc-tren-dia-ban-thanh-pho-long-xuyen.html"
                          title="Điều chỉnh giá dịch vụ thoát nước trên địa bàn Thành phố Long Xuyên"
                        >
                          Điều chỉnh giá dịch vụ thoát nước trên địa bàn Thành
                          phố Long Xuyên
                        </a>
                      </h3>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div
                    class="post-1029 post type-post status-publish format-standard has-post-thumbnail category-thong-tin-tuyen-truyen category-van-ban-quan-ly-dieu-hanh entry"
                  >
                    <a
                      href="/view/khach-hang-can-biet/thong-tin-can-biet/thong-tin-tuyen-truyen/tuyen-truyen-bao-ve-nguon-nuoc-bao-ve-su-song.html"
                      title="Chung tay bảo vệ nguồn nước, bảo vệ sự sống"
                      class="alignleft"
                    >
                      <img
                        width="750"
                        height="400"
                        src="/asset/images/upload/navy-blue-modern-textile-industry-business-card-800-x-400-px-750x400.png"
                        class="attachment-thumbnail size-thumbnail"
                        alt="Chung tay bảo vệ nguồn nước, bảo vệ sự sống"
                        title="Chung tay bảo vệ nguồn nước, bảo vệ sự sống"
                        decoding="async"
                      />
                    </a>
                    <div class="list-info">
                      <h3 class="widget-item-title">
                        <a
                          href="/view/khach-hang-can-biet/thong-tin-can-biet/thong-tin-tuyen-truyen/tuyen-truyen-bao-ve-nguon-nuoc-bao-ve-su-song.html"
                          title="Chung tay bảo vệ nguồn nước, bảo vệ sự sống"
                        >
                          Chung tay bảo vệ nguồn nước, bảo vệ sự sống
                        </a>
                      </h3>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div
                    class="post-945 post type-post status-publish format-standard has-post-thumbnail category-khach-hang-can-biet category-van-ban-quan-ly-dieu-hanh entry"
                  >
                    <a
                      href="/view/khach-hang-can-biet/thong-bao-ve-viec-trien-khai-thu-ho-hoa-don-tien-dien-tien-nuoc-tai-cac-buu-cuc-buu-dien-van-hoa-xa-buu-dien-tinh-an-giang.html"
                      title="Thông báo về việc triển khai thu hộ hóa đơn tiền điện, tiền nước tại các Bưu cục Bưu điện Văn hóa xã &#8211; Bưu điện tỉnh An Giang"
                      class="alignleft"
                    >
                      <img
                        width="750"
                        height="400"
                        src="/asset/images/upload/white-blue-modern-water-park-presentation-800-x-400-px-750x400.png"
                        class="attachment-thumbnail size-thumbnail"
                        alt="Thông báo về việc triển khai thu hộ hóa đơn tiền điện, tiền nước tại các Bưu cục Bưu điện Văn hóa xã &#8211; Bưu điện tỉnh An Giang"
                        title="Thông báo về việc triển khai thu hộ hóa đơn tiền điện, tiền nước tại các Bưu cục Bưu điện Văn hóa xã &#8211; Bưu điện tỉnh An Giang"
                        decoding="async"
                      />
                    </a>
                    <div class="list-info">
                      <h3 class="widget-item-title">
                        <a
                          href="/view/khach-hang-can-biet/thong-bao-ve-viec-trien-khai-thu-ho-hoa-don-tien-dien-tien-nuoc-tai-cac-buu-cuc-buu-dien-van-hoa-xa-buu-dien-tinh-an-giang.html"
                          title="Thông báo về việc triển khai thu hộ hóa đơn tiền điện, tiền nước tại các Bưu cục Bưu điện Văn hóa xã &#8211; Bưu điện tỉnh An Giang"
                        >
                          Thông báo về việc triển khai thu hộ hóa đơn tiền điện,
                          tiền nước tại các Bưu cục Bưu điện Văn hóa xã &#8211;
                          Bưu điện tỉnh An Giang
                        </a>
                      </h3>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div
                    class="post-763 post type-post status-publish format-standard has-post-thumbnail category-khach-hang-can-biet category-van-ban-quan-ly-dieu-hanh entry"
                  >
                    <a
                      href="/view/khach-hang-can-biet/thay-doi-giao-dien-website-cong-ty.html"
                      title="Thay đổi giao diện Website Công ty"
                      class="alignleft"
                    >
                      <img
                        width="527"
                        height="500"
                        src="/asset/images/upload/z6037556799122_e6aaecab5f1ce898f4c7627a82bcd8c8-527x500.webp"
                        class="attachment-thumbnail size-thumbnail"
                        alt="Thay đổi giao diện Website Công ty"
                        title="Thay đổi giao diện Website Công ty"
                        decoding="async"
                      />
                    </a>
                    <div class="list-info">
                      <h3 class="widget-item-title">
                        <a
                          href="/view/khach-hang-can-biet/thay-doi-giao-dien-website-cong-ty.html"
                          title="Thay đổi giao diện Website Công ty"
                        >
                          Thay đổi giao diện Website Công ty
                        </a>
                      </h3>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </section>
            <section id="media_image-2" class="widget widget_media_image">
              <div class="widget-wrap">
                <a href="/view/lien-he.html">
                  <img
                    src="/asset/images/hotline.svg"
                    class="image wp-image-46 attachment-full size-full"
                    alt=""
                    style="max-width: 100%; height: auto"
                    decoding="async"
                  />
                </a>
              </div>
            </section>
            <section id="text-10" class="widget widget_text">
              <div class="widget-wrap">
                <div class="widget-title widgettitle">Tra cứu nhanh</div>
                <div class="textwidget">
                  <p>
                    <a
                      href="/view/khach-hang-can-biet/thong-tin-can-biet/thong-bao-cup-dien.html"
                    >
                      <img
                        decoding="async"
                        class="alignnone size-full wp-image-922"
                        src="/asset/images/upload/thong-bao-cup-dien-1.png"
                        alt=""
                        width="375"
                        height="100"
                      />
                    </a>
                  </p>
                  <p>
                    <a
                      href="/view/khach-hang-can-biet/thong-tin-can-biet/thong-bao-cup-nuoc.html"
                    >
                      <img
                        decoding="async"
                        class="alignnone size-full wp-image-923"
                        src="/asset/images/upload/thong-bao-cup-nuoc.png"
                        alt=""
                        width="375"
                        height="100"
                      />
                    </a>
                  </p>
                  <p>
                    <a href="/view/khach-hang-can-biet/bang-gia-dien.html">
                      <img
                        decoding="async"
                        class="alignnone size-full wp-image-925"
                        src="/asset/images/upload/thong-tin-gia-dien.png"
                        alt=""
                        width="375"
                        height="100"
                      />
                    </a>
                  </p>
                  <p>
                    <a href="/view/khach-hang-can-biet/bang-gia-nuoc.html">
                      <img
                        decoding="async"
                        class="alignnone size-full wp-image-926"
                        src="/asset/images/upload/thong-tin-gia-nuoc.png"
                        alt=""
                        width="375"
                        height="100"
                      />
                    </a>
                  </p>
                  <p>
                    <a
                      href="/view/khach-hang-can-biet/gia-dich-vu-thoat-nuoc.html"
                    >
                      <img
                        decoding="async"
                        class="alignnone size-full wp-image-927"
                        src="/asset/images/upload/dich-vu-thoat-nuoc.png"
                        alt=""
                        width="375"
                        height="100"
                      />
                    </a>
                  </p>
                  <p>
                    <a
                      href="/view/khach-hang-can-biet/ket-qua-kiem-nghiem.html"
                    >
                      <img
                        decoding="async"
                        class="alignnone size-full wp-image-928"
                        src="/asset/images/upload/ket-qua-xet-nghiem.png"
                        alt=""
                        width="375"
                        height="100"
                      />
                    </a>
                  </p>
                  <p>
                    <img
                      decoding="async"
                      class="alignnone wp-image-1208 size-full"
                      src="/asset/images/upload/cac-hinh-thuc-thanh-toan-tien-dien-nuoc-1.png"
                      alt=""
                      width="900"
                      height="1500"
                    />
                  </p>
                  <div
                    id="mttContainer"
                    class="bootstrapiso notranslate"
                    style="transform: translate(29px, 0px)"
                    title=""
                    data-original-title=""
                  ></div>
                  <div id="envidictionary">
                    <div
                      class="o-search-mobile"
                      style="top: 0px; left: 0px; display: none"
                    >
                      <img
                        decoding="async"
                        style="width: 27px; height: 27px"
                        src="/asset/images/upload/tải xuống.png"
                        alt="ENVI"
                        width="27"
                        height="27"
                      />
                    </div>
                    <div
                      class="o-popup-tag o-bg-white o-border o-rounded o-shadow"
                      style="width: 400px; top: 0px; left: 0px; display: none"
                    >
                      <div>
                        <p>&nbsp;</p>
                        <ul class="o-nav o-nav-tabs o-pop-nav" role="tablist">
                          <li class="o-nav-item" role="presentation">
                            <div
                              class="o-nav-link o-active"
                              data-bs-toggle="tab"
                              aria-selected="true"
                            >
                              Tra cứu
                            </div>
                          </li>
                          <li class="o-nav-item" role="presentation">
                            <div
                              class="o-nav-link"
                              data-bs-toggle="tab"
                              aria-selected="false"
                            >
                              Dịch
                            </div>
                          </li>
                        </ul>
                        <div class="o-selected-result o-pt-1">
                          <div>Đang tìm kiếm &#8230;</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="envidictionaryOff"></div>
                  <div
                    id="mttContainer"
                    class="bootstrapiso notranslate"
                    title=""
                    data-original-title=""
                  ></div>
                  <div
                    id="mttContainer"
                    class="bootstrapiso notranslate"
                    style="transform: translate(273px, 65px)"
                    title=""
                    data-original-title=""
                  ></div>
                  <div
                    id="mttContainer"
                    class="bootstrapiso notranslate"
                    style="transform: translate(1px, 186px)"
                    title=""
                    data-original-title=""
                  ></div>
                </div>
              </div>
            </section>
            <section id="text-2" class="widget widget_text">
              <div class="widget-wrap">
                <div class="widget-title widgettitle">Dịch vụ trực tuyến</div>
                <div class="textwidget">
                  <p>
                    <a
                      href="/view/dich-vu-truc-tuyen/dang-ky-truc-tuyen/quy-khach-hang-co-the-dang-ky-ho-so-thu-tuc-truc-tuyen-tai-cong-dich-vu-cong-va-he-thong-mot-cua-dien-tu.html"
                    >
                      <img
                        decoding="async"
                        class="alignnone wp-image-38 size-full"
                        src="/asset/images/upload/dvtt.svg"
                        alt=""
                        width="375"
                        height="100"
                      />
                    </a>
                  </p>
                  <p>
                    <a
                      href="/view/dich-vu-truc-tuyen/thanh-toan-truc-tuyen/cac-hinh-thuc-thanh-toan.html"
                    >
                      <img
                        decoding="async"
                        class="alignnone wp-image-51 size-full"
                        src="/asset/images/upload/tttt.svg"
                        alt=""
                        width="375"
                        height="100"
                      />
                    </a>
                  </p>
                  <p>&nbsp;</p>
                  <div
                    id="mttContainer"
                    class="bootstrapiso notranslate"
                    style="transform: translate(125px, 198px)"
                    title=""
                    data-original-title=""
                  ></div>
                  <div id="envidictionary">
                    <div
                      class="o-search-mobile"
                      style="top: 0px; left: 0px; display: none"
                    >
                      <img
                        decoding="async"
                        style="width: 27px; height: 27px"
                        src="/asset/images/upload/tải xuống.png"
                        alt="ENVI"
                        width="27"
                        height="27"
                      />
                    </div>
                    <div
                      class="o-popup-tag o-bg-white o-border o-rounded o-shadow"
                      style="width: 400px; top: 0px; left: 0px; display: none"
                    >
                      <div>
                        <p>&nbsp;</p>
                        <ul class="o-nav o-nav-tabs o-pop-nav" role="tablist">
                          <li class="o-nav-item" role="presentation">
                            <div
                              class="o-nav-link o-active"
                              data-bs-toggle="tab"
                              aria-selected="true"
                            >
                              Tra cứu
                            </div>
                          </li>
                          <li class="o-nav-item" role="presentation">
                            <div
                              class="o-nav-link"
                              data-bs-toggle="tab"
                              aria-selected="false"
                            >
                              Dịch
                            </div>
                          </li>
                        </ul>
                        <div class="o-selected-result o-pt-1">
                          <div>Đang tìm kiếm &#8230;</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="envidictionaryOff"></div>
                  <div
                    id="mttContainer"
                    class="bootstrapiso notranslate"
                    style="transform: translate(178px, 98px)"
                    title=""
                    data-original-title=""
                  ></div>
                  <div
                    id="mttContainer"
                    class="bootstrapiso notranslate"
                    style="transform: translate(102px, 197px)"
                    title=""
                    data-original-title=""
                  ></div>
                  <div
                    id="mttContainer"
                    class="bootstrapiso notranslate"
                    title=""
                    data-original-title=""
                  ></div>
                </div>
              </div>
            </section>