<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <title>Chức năng và nhiệm vụ - Powaco</title>
    <meta name="robots" content="max-image-preview:large" />
    <base href="/" />
    <!-- This site is optimized with the Yoast SEO plugin 9.0 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="robots" content="noodp,noydir" />
    <link rel="canonical" href="/view/gioi-thieu/chuc-nang-va-nhiem-vu.html" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Chức năng và nhiệm vụ - Powaco" />
    <meta
      property="og:description"
      content="Chức năng, nhiệm vụ của Công ty Cổ phần Điện Nước An Giang Theo Điều lệ của Công ty quy định chức năng và nhiệm vụ như sau: 1. Chức năng - Quản lý, phát triển, khai thác, cung ứng điện. - Khai thác sản xuất, phân phối kinh doanh nước sạch phục vụ sinh &hellip;"
    />
    <meta
      property="og:url"
      content="/view/gioi-thieu/chuc-nang-va-nhiem-vu.html"
    />
    <meta property="og:site_name" content="Powaco" />
    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:description"
      content="Chức năng, nhiệm vụ của Công ty Cổ phần Điện Nước An Giang Theo Điều lệ của Công ty quy định chức năng và nhiệm vụ như sau: 1. Chức năng - Quản lý, phát triển, khai thác, cung ứng điện. - Khai thác sản xuất, phân phối kinh doanh nước sạch phục vụ sinh [&hellip;]"
    />
    <meta name="twitter:title" content="Chức năng và nhiệm vụ - Powaco" />
    <meta name="twitter:domain" content="Powaco" />
    <!-- / Yoast SEO plugin. -->

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Dòng thông tin Powaco &raquo;"
      href="/feed.xml"
    />
    <link rel="stylesheet" href="/asset/css/style.css" media="all" />
    <link rel="stylesheet" href="/asset/css/global-styles.css" />
    <link rel="stylesheet" href="/asset/css/font/roboto.css" />
    <link rel="stylesheet" href="/asset/css/index.css" />
    <link rel="https://api.w.org/" href="/asset/json/wp-json.json" />
    <link rel="icon" href="/asset/images/favicon.png" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
  </head>
  <body
    class="page-template-default page page-id-13 page-child parent-pageid-9 content-sidebar"
    itemscope
    itemtype="https://schema.org/WebPage"
  >
    <div class="site-container">
      <div id="header"></div>
      <div id="nav"></div>
      <div
        class="breadcrumb"
        itemscope=""
        itemtype="https://schema.org/BreadcrumbList"
      >
        <div class="wrap">
          <span
            class="breadcrumb-link-wrap"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <a
              class="breadcrumb-link"
              href="https://diennuocag.com.vn/"
              itemprop="item"
            >
              <span class="breadcrumb-link-text-wrap" itemprop="name">
                <span class="home"> Trang chủ </span>
              </span>
            </a>
            <meta itemprop="position" content="1" />
          </span>
          <span aria-label="breadcrumb separator" class="separator"> » </span>
          <span
            class="breadcrumb-link-wrap"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <a
              class="breadcrumb-link"
              href="https://diennuocag.com.vn/gioi-thieu"
              itemprop="item"
            >
              <span class="breadcrumb-link-text-wrap" itemprop="name">
                Giới thiệu
              </span>
            </a>
            <meta itemprop="position" content="2" />
          </span>
          <span aria-label="breadcrumb separator" class="separator"> » </span>
          Chức năng và nhiệm vụ
        </div>
      </div>
      <div class="site-inner">
        <div class="content-sidebar-wrap">
          <main class="content">
            <article
              class="post-13 page type-page status-publish entry"
              itemscope
              itemtype="https://schema.org/CreativeWork"
            >
              <header class="entry-header">
                <h1 class="entry-title" itemprop="headline">
                  Chức năng và nhiệm vụ
                </h1>
              </header>
              <div class="entry-content" itemprop="text">
                <p>
                  <span style="font-size: 24px">
                    <strong>
                      Chức năng, nhiệm vụ của Công ty Cổ phần Điện Nước An Giang
                    </strong>
                  </span>
                </p>
                <p>
                  Theo Điều lệ của Công ty quy định chức năng và nhiệm vụ như
                  sau:
                </p>
                <p><strong> 1. Chức năng </strong></p>
                <p style="text-align: justify">
                  &#8211; Quản lý, phát triển, khai thác, cung ứng điện.
                </p>
                <p style="text-align: justify">
                  &#8211; Khai thác sản xuất, phân phối kinh doanh nước sạch
                  phục vụ sinh hoạt, sản xuất và các nhu cầu khác trên địa bàn
                  Tỉnh An Giang.
                </p>
                <p style="text-align: justify">
                  &#8211; Lập quy hoạch, dự án đầu tư, thẩm tra, thẩm định dự án
                  cấp nước; khảo sát, thiết kế, kiểm nghiệm chất lượng nước,
                  quản lý và giám sát thi công các dự án, các công trình cấp
                  thoát nước, điện &#8211; động lực, xây dựng dân dụng và các
                  dịch vụ chuyên ngành.
                </p>
                <p style="text-align: justify">
                  &#8211; Đầu tư xây dựng và quản lý các công trình đường dây –
                  trạm biến áp cấp điện hạ thế ; hệ thống, trạm cấp nước sạch
                  trên địa bàn Tỉnh An Giang.
                </p>
                <p style="text-align: justify">
                  &#8211; Mua bán, gia công các vật tư, sản phẩm chuyên ngành
                  điện, ngành cấp &#8211; thoát nước và kinh doanh vật liệu xây
                  dựng.
                </p>
                <p style="text-align: justify">
                  &#8211; Xây dựng, lắp đặt thiết bị, công nghệ, mạng lưới đường
                  ống, các công trình cấp, thoát nước, xử lý chất thải và chất
                  thải rắn, điện, động lực và xây dựng dân dụng.
                </p>
                <p style="text-align: justify">
                  &#8211; Khai thác và sản xuất nước khoáng, xây dựng trạm bơm,
                  mua bán nông sản, lương thực, đầu tư xây dựng cơ sở hạ tầng
                  khu công nghiệp, đầu tư xây dựng các công trình nhà ở cho
                  người có thu nhập thấp .
                </p>
                <p style="text-align: justify">
                  &#8211; Kinh doanh những ngành nghề mà pháp luật không cấm.
                </p>
                <p><strong> 2. Nhiệm vụ </strong></p>
                <p style="text-align: justify">
                  &#8211; Thực hiện nhiệm vụ phân phối và truyền tải điện sinh
                  hoạt &#8211; sản xuất trên địa bàn khu vực nông thôn tỉnh An
                  Giang.
                </p>
                <p style="text-align: justify">
                  &#8211; Thực hiện nhiệm vụ quản lý và cung cấp nước sinh hoạt,
                  nước sản xuất cho khu công nghiệp tập trung và các nhu cầu
                  khác trên địa bàn Tỉnh An Giang; xây dựng dân dụng các dự án
                  cấp nước cho các khu đô thị, các vùng lân cận và khu công
                  nghiệp trên địa bàn Tỉnh. Làm chủ đầu tư các dự án cấp nước
                  bằng vốn ngân sách, vốn vay, vốn của doanh nghiệp hoặc các
                  nguồn vốn khác.
                </p>
                <p style="text-align: justify">
                  &#8211; Cung ứng vật tư phục vụ cho sản xuất kinh doanh đạt
                  chất lượng và hiệu quả cao.
                </p>
                <p style="text-align: justify">
                  &#8211; Chủ động nghiên cứu phương án mở rộng mạng lưới cấp
                  điện sinh hoạt, cấp nước đáp ứng nhu cầu nước sạch cho sản
                  xuất và sinh hoạt phù hợp với quy định của pháp luật.
                </p>
                <p style="text-align: justify">
                  &#8211; Liên doanh, liên kết với các tổ chức, cá nhân trong và
                  ngoài nước theo các ngành nghề đăng ký kinh doanh.
                </p>
                <p style="text-align: justify">
                  &#8211; Thực hiện nghĩa vụ nộp ngân sách nhà nước.
                </p>
                <p style="text-align: justify">
                  &#8211; Thực hiện nghĩa vụ chăm sóc khách hàng: tiếp nhận và
                  giải quyết nhanh chóng các khiếu nại của khách hàng mỗi khi
                  khách hàng phản ánh, cầu thị lắng nghe và phấn đấu giải quyết
                  các nhu cầu ngày càng tăng của khách hàng trong việc sử dụng
                  nước sạch và sử dụng điện.
                </p>
                <p style="text-align: justify">
                  &#8211; Thực hiện chế độ thanh toán tiền lương hàng tháng trên
                  cơ sở quỹ tiền lương và đơn giá tiền lương đã đăng ký. Thực
                  hiện khen thưởng cho các cá nhân, tập thể có thành tích xuất
                  sắc góp phần vào hoàn thành kế hoạch sản xuất kinh doanh của
                  Công ty.
                </p>
                <p style="text-align: justify">
                  &#8211; Thực hiện chính sách BHXH, BHYT; luôn cải thiện điều
                  kiện làm việc, trang bị đầu tư bảo hộ lao động, vệ sinh môi
                  trường, thực hiện đúng chế độ nghỉ ngơi, bồi dưỡng độc hại đảm
                  bảo sức khỏe cho người lao động.
                </p>
                <p style="text-align: justify">
                  &#8211; Thường xuyên tổ chức đào tạo, tập huấn, bồi dưỡng kỹ
                  thuật, nghiệp vụ, tay nghề cho cán bộ công nhân viên.
                </p>
                <p style="text-align: justify">
                  &#8211; Phối hợp với tổ chức quần chúng: Đảng, Đoàn thể, Công
                  đoàn, Đoàn thanh niên trong Công ty thực hiện tốt quy chế dân
                  chủ ở cơ sở, phát huy quyền làm chủ của người lao động, chăm
                  lo đời sống vật chất văn hóa và tinh thần của CBCNV.
                </p>
                <p style="text-align: justify">
                  &#8211; Xây dựng và huấn luyện lực lượng bảo vệ, dân quân tự
                  vệ, phòng chống cháy nổ, phối hợp với chính quyền sở tại giữ
                  gìn an ninh chính trị và trật tự an toàn xã hội, đảm bảo an
                  toàn tuyệt đối về người và tài sản của Công ty. Làm tròn nghĩa
                  vụ an ninh quốc phòng toàn dân.
                </p>
                <p style="text-align: justify">
                  &#8211; Đối với phúc lợi công cộng – xã hội: hàng năm Công ty
                  đều có hổ trợ phụng dưỡng các Bà Mẹ Anh Hùng, gia đình liệt sĩ
                  , xây dựng nhiều nhà tình nghĩa, nhà tình thương, cùng chăm lo
                  hổ trợ hộ gia đình chính sách &#8211; hộ nghèo, lắp đặt đồng
                  hồ điện &#8211; nước không thu tiền cho hộ nghèo, hộ chính
                  sách, … Tham gia đóng góp các quỹ an sinh do chính quyền và
                  các hội đoàn thể vận động hàng năm.
                </p>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(211px, 220px)"
                  title=""
                  data-original-title=""
                ></div>
              </div>
            </article>
          </main>
          <aside
            id="sidebar"
            class="sidebar sidebar-primary widget-area"
            role="complementary"
            aria-label="Primary Sidebar"
            itemscope
            itemtype="https://schema.org/WPSideBar"
          ></aside>
        </div>
      </div>
      <div id="content-banner" class="content-banner section"></div>
      <div id="content-client" class="content-client section"></div>
      <div id="content-fix" class="content-fix"></div>
      <div id="footer"></div>
      <span id="backtotop" title="Lên đầu trang"> ↑ </span>
    </div>
    <!-- caia_schema -->
    <script
      type="text/javascript"
      src="/asset/javascript/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/asset/javascript/countup.min.js"
    ></script>
    <script type="text/javascript" src="/asset/javascript/slick.js"></script>
    <script type="text/javascript" src="/asset/javascript/index.js"></script>
  </body>
</html>
