<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <title>Cơ cấu tổ chức - Powaco</title>
    <meta name="robots" content="max-image-preview:large" />
    <base href="/" />
    <!-- This site is optimized with the Yoast SEO plugin 9.0 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="robots" content="noodp,noydir" />
    <link rel="canonical" href="/view/gioi-thieu/co-cau-to-chuc.html" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Cơ cấu tổ chức - Powaco" />
    <meta
      property="og:description"
      content="&nbsp; ⇒ HỘI ĐỒNG QUẢN TRỊ 1. Ông Lương Văn Bạ Chủ tịch HĐQT 2. Ông Lê Việt Anh Thành viên HĐQT, Tổng Giám đốc 3. Ông Trương Văn Nghiệm Thành viên HĐQT, Phó Tổng Giám đốc 4. Ông Trần Nhất Trí Thành viên HĐQT, Phó Tổng Giám đốc 5. Ông Lâm Thành &hellip;"
    />
    <meta property="og:url" content="/view/gioi-thieu/co-cau-to-chuc.html" />
    <meta property="og:site_name" content="Powaco" />
    <meta
      property="og:image"
      content="/asset/images/upload/thiet-ke-chua-co-ten-1.png"
    />
    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:description"
      content="&nbsp; ⇒ HỘI ĐỒNG QUẢN TRỊ 1. Ông Lương Văn Bạ Chủ tịch HĐQT 2. Ông Lê Việt Anh Thành viên HĐQT, Tổng Giám đốc 3. Ông Trương Văn Nghiệm Thành viên HĐQT, Phó Tổng Giám đốc 4. Ông Trần Nhất Trí Thành viên HĐQT, Phó Tổng Giám đốc 5. Ông Lâm Thành [&hellip;]"
    />
    <meta name="twitter:title" content="Cơ cấu tổ chức - Powaco" />
    <meta name="twitter:domain" content="Powaco" />
    <meta
      name="twitter:image:src"
      content="/asset/images/upload/thiet-ke-chua-co-ten-1.png"
    />
    <!-- / Yoast SEO plugin. -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Dòng thông tin Powaco &raquo;"
      href="/feed.xml"
    />
    <link rel="stylesheet" href="/asset/css/style.css" media="all" />
    <link rel="stylesheet" href="/asset/css/global-styles.css" />
    <link rel="stylesheet" href="/asset/css/font/roboto.css" />
    <link rel="stylesheet" href="/asset/css/index.css" />
    <link rel="https://api.w.org/" href="/asset/json/wp-json.json" />
    <link rel="icon" href="/asset/images/favicon.png" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
  </head>
  <body
    class="page-template-default page page-id-11 page-child parent-pageid-9 content-sidebar"
    itemscope
    itemtype="https://schema.org/WebPage"
  >
    <div class="site-container">
      <div id="header"></div>
      <div id="nav"></div>
      <div
        class="breadcrumb"
        itemscope=""
        itemtype="https://schema.org/BreadcrumbList"
      >
        <div class="wrap">
          <span
            class="breadcrumb-link-wrap"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <a class="breadcrumb-link" href="/index.html" itemprop="item">
              <span class="breadcrumb-link-text-wrap" itemprop="name">
                <span class="home"> Trang chủ </span>
              </span>
            </a>
            <meta itemprop="position" content="1" />
          </span>
          <span aria-label="breadcrumb separator" class="separator"> » </span>
          <span
            class="breadcrumb-link-wrap"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <a
              class="breadcrumb-link"
              href="/view/gioi-thieu/index.html"
              itemprop="item"
            >
              <span class="breadcrumb-link-text-wrap" itemprop="name">
                Giới thiệu
              </span>
            </a>
            <meta itemprop="position" content="2" />
          </span>
          <span aria-label="breadcrumb separator" class="separator"> » </span>
          Cơ cấu tổ chức
        </div>
      </div>
      <div class="site-inner">
        <div class="content-sidebar-wrap">
          <main class="content">
            <article
              class="post-11 page type-page status-publish entry"
              itemscope
              itemtype="https://schema.org/CreativeWork"
            >
              <header class="entry-header">
                <h1 class="entry-title" itemprop="headline">Cơ cấu tổ chức</h1>
              </header>
              <div class="entry-content" itemprop="text">
                <p>&nbsp;</p>
                <p>
                  <img
                    decoding="async"
                    class="alignnone wp-image-140"
                    src="/asset/images/upload/thiet-ke-chua-co-ten-1.png"
                    alt=""
                    width="989"
                    height="556"
                  />
                </p>
                <hr />
                <p>
                  <span style="font-size: 24px">
                    <strong> ⇒ HỘI ĐỒNG QUẢN TRỊ </strong>
                  </span>
                </p>
                <table>
                  <tbody>
                    <tr>
                      <td width="302">1. Ông Lương Văn Bạ</td>
                      <td width="302">Chủ tịch HĐQT</td>
                    </tr>
                    <tr>
                      <td width="302">2. Ông Lê Việt Anh</td>
                      <td width="302">Thành viên HĐQT, Tổng Giám đốc</td>
                    </tr>
                    <tr>
                      <td width="302">3. Ông Trương Văn Nghiệm</td>
                      <td width="302">Thành viên HĐQT, Phó Tổng Giám đốc</td>
                    </tr>
                    <tr>
                      <td width="302">4. Ông Trần Nhất Trí</td>
                      <td width="302">Thành viên HĐQT, Phó Tổng Giám đốc</td>
                    </tr>
                    <tr>
                      <td width="302">5. Ông Lâm Thành Quang</td>
                      <td width="302">Thành viên HĐQT</td>
                    </tr>
                    <tr>
                      <td width="302">6. Ông Nguyễn Tuấn Huy</td>
                      <td width="302">Thành viên HĐQT</td>
                    </tr>
                    <tr>
                      <td width="302">7. Ông Lê Thành Bửu</td>
                      <td width="302">Thành viên HĐQT</td>
                    </tr>
                    <tr>
                      <td width="302">8. Ông Huỳnh Công Thảo</td>
                      <td width="302">Phụ trách quản trị</td>
                    </tr>
                  </tbody>
                </table>
                <p>&nbsp;</p>
                <hr />
                <p>
                  <strong>
                    <span style="font-size: 24px">
                      ⇒ BAN GIÁM ĐỐC/KẾ TOÁN TRƯỞNG
                    </span>
                  </strong>
                </p>
                <table>
                  <tbody>
                    <tr>
                      <td width="302">1. Ông Lê Việt Anh</td>
                      <td width="302">Tổng Giám đốc</td>
                    </tr>
                    <tr>
                      <td width="302">2. Ông Huỳnh Lâm</td>
                      <td width="302">Phó Tổng Giám đốc</td>
                    </tr>
                    <tr>
                      <td width="302">3. Ông Trương Văn Nghiệm</td>
                      <td width="302">Phó Tổng Giám đốc</td>
                    </tr>
                    <tr>
                      <td width="302">4. Ông Trần Nhất Trí</td>
                      <td width="302">Phó Tổng Giám đốc</td>
                    </tr>
                    <tr>
                      <td width="302">5. Ông Phạm Cao Trí</td>
                      <td width="302">Kế toán trưởng</td>
                    </tr>
                  </tbody>
                </table>
                <p>&nbsp;</p>
                <hr />
                <p>
                  <span style="font-size: 24px">
                    <strong> ⇒ BAN KIỂM SOÁT </strong>
                  </span>
                </p>
                <table>
                  <tbody>
                    <tr>
                      <td width="302">1. Bà Nguyễn Thị Ngọc Châu</td>
                      <td width="302">Trưởng BKS</td>
                    </tr>
                    <tr>
                      <td width="302">2. Ông Châu Minh Tú</td>
                      <td width="302">Thành viên BKS</td>
                    </tr>
                    <tr>
                      <td width="302">3. Ông Trần Lê Minh Hoan</td>
                      <td width="302">Thành viên BKS</td>
                    </tr>
                  </tbody>
                </table>
                <p>&nbsp;</p>
                <hr />
                <p>
                  <span style="font-size: 24px">
                    <strong> ⇒ VỊ TRÍ KHÁC </strong>
                  </span>
                </p>
                <table>
                  <tbody>
                    <tr>
                      <td width="302">1. Ông Lê Việt Anh</td>
                      <td width="302">Người được ủy quyền công bố thông tin</td>
                    </tr>
                    <tr>
                      <td width="302">2. Ông Trần Thanh Duyệt</td>
                      <td width="302">Thư ký HĐQT</td>
                    </tr>
                  </tbody>
                </table>
                <p>&nbsp;</p>
                <hr />
                <p>
                  <span style="font-size: 24px">
                    <strong> ⇒ VĂN PHÒNG CÔNG TY CÓ 13 PHÒNG, BAN </strong>
                  </span>
                </p>
                <table style="height: 689px" width="608">
                  <tbody>
                    <tr>
                      <td width="445">1. Phòng Kế hoạch – Kinh doanh</td>
                      <td width="123">02963.952.382</td>
                    </tr>
                    <tr>
                      <td width="445">2. Phòng Kế Toán</td>
                      <td width="123">02963.859.611</td>
                    </tr>
                    <tr>
                      <td width="445">3. Phòng Kỹ thuật điện</td>
                      <td width="123">02963.853.165</td>
                    </tr>
                    <tr>
                      <td width="445">4. Phòng Kỹ thuật nước</td>
                      <td width="123">02963.859.612</td>
                    </tr>
                    <tr>
                      <td width="445">5. Phòng An toàn điện và Môi trường</td>
                      <td width="123">02963.955.353</td>
                    </tr>
                    <tr>
                      <td width="445">6. Phòng Pháp chế</td>
                      <td width="123">02963.859.610</td>
                    </tr>
                    <tr>
                      <td width="445">7. BQL Dự án Đầu tư – Xây dựng</td>
                      <td width="123">02963.856.573</td>
                    </tr>
                    <tr>
                      <td width="445">
                        8. BQL Dự án Hệ thống thoát nước và Xử lý nước thải TPLX
                      </td>
                      <td width="123">02963.953.828</td>
                    </tr>
                    <tr>
                      <td width="445">9. Phòng Vật Tư</td>
                      <td width="123">02963.953.727</td>
                    </tr>
                    <tr>
                      <td width="445">10. Phòng Quản lý Khách hàng</td>
                      <td width="123">02963.859.613</td>
                    </tr>
                    <tr>
                      <td width="445">
                        11. Phòng Tổ chức – Lao động – Tiền lương
                      </td>
                      <td width="123">02963.856.100</td>
                    </tr>
                    <tr>
                      <td width="445">
                        12. Phòng Chống Thất thoát – Thất thu điện nước
                      </td>
                      <td width="123">02963.859.614</td>
                    </tr>
                    <tr>
                      <td width="445">13. Phòng Quản lý Chất lượng nước</td>
                      <td width="123"></td>
                    </tr>
                  </tbody>
                </table>
                <p>&nbsp;</p>
                <hr />
                <p>
                  <span style="font-size: 24px">
                    <strong>
                      ⇒ KHỐI XÍ NGHIỆP BAO GỒM 12 XÍ NGHIỆP TRỰC THUỘC
                    </strong>
                  </span>
                </p>
                <table style="height: 1163px" width="1379">
                  <tbody>
                    <tr>
                      <td width="356">
                        <p>
                          <em>
                            <strong> 1. </strong>
                            <strong>
                              Xí nghiệp Cấp nước Thành phố Long Xuyên
                            </strong>
                          </em>
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Địa chỉ
                          </span>
                          : số 31/1 Trần Hưng Đạo &#8211; phường Mỹ Xuyên
                          &#8211; Tp.Long Xuyên &#8211; tỉnh An Giang.
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Điện thoại
                          </span>
                          : 02963.841.350
                        </p>
                        <p>
                          <span style="text-decoration: underline"> Fax </span>
                          : 02963.843.757
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Email
                          </span>
                          : xncnlx_ag@yahoo.com.vn
                        </p>
                      </td>
                      <td width="384">
                        <p>
                          <em>
                            <strong> 2. </strong>
                            <strong>
                              Xí nghiệp Điện nước huyện Thoại Sơn
                            </strong>
                          </em>
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Địa chỉ
                          </span>
                          : ấp Bắc Sơn &#8211; thị trấn Núi Sập &#8211; huyện
                          Thoại Sơn &#8211; tỉnh An Giang
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Điện thoại
                          </span>
                          : 02963.879.090
                        </p>
                        <p>
                          <span style="text-decoration: underline"> Fax </span>
                          : 02963.710.070
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Email
                          </span>
                          : xndnts_ag@yahoo.com.vn
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td width="356">
                        <p>
                          <em>
                            <strong> 3. </strong>
                            <strong> Xí nghiệp Điện nước huyện Chợ Mới </strong>
                          </em>
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Địa chỉ
                          </span>
                          : ấp Long Hòa &#8211; TT Chợ Mới &#8211; huyện Chợ Mới
                          &#8211; tỉnh An Giang
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Điện thoại
                          </span>
                          : 02963.883.763
                        </p>
                        <p>
                          <span style="text-decoration: underline"> Fax </span>
                          : 02963.888.370
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Email
                          </span>
                          : xndncm_ag@yahoo.com.vn
                        </p>
                      </td>
                      <td width="384">
                        <p>
                          <em>
                            <strong> 4. </strong>
                            <strong>
                              Xí nghiệp Điện nước huyện Châu Thành
                            </strong>
                          </em>
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Địa chỉ
                          </span>
                          : Quốc lộ 91 &#8211; thị trấn An Châu &#8211; huyện
                          Châu Thành &#8211; tỉnh An Giang
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Điện thoại
                          </span>
                          : 02963.651.061
                        </p>
                        <p>
                          <span style="text-decoration: underline"> Fax </span>
                          : 02963.651.063
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Email
                          </span>
                          : xndnct_ag@yahoo.com.vn
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td width="356">
                        <p>
                          <em>
                            <strong> 5. </strong>
                            <strong>
                              Xí nghiệp Điện nước huyện Châu Phú
                            </strong>
                          </em>
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Địa chỉ
                          </span>
                          : ấp Vĩnh Phú &#8211; xã Vĩnh Thạnh Trung &#8211;
                          huyện Châu Phú &#8211; tỉnh An Giang
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Điện thoại
                          </span>
                          : 02963.686.944
                        </p>
                        <p>
                          <span style="text-decoration: underline"> Fax </span>
                          : 02963.689.205
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Email
                          </span>
                          : xndncp_ag@yahoo.com.vn
                        </p>
                      </td>
                      <td width="384">
                        <p>
                          <em>
                            <strong> 6. </strong>
                            <strong> Xí nghiệp Điện nước huyện Phú Tân </strong>
                          </em>
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Địa chỉ
                          </span>
                          : ấp thượng 3 &#8211; thị trấn Phú Mỹ &#8211; huyện
                          Phú Tân &#8211; tỉnh An Giang
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Điện thoại
                          </span>
                          : 02963.827.655
                        </p>
                        <p>
                          <span style="text-decoration: underline"> Fax </span>
                          : 02963.827.376
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Email
                          </span>
                          : xndnpt_ag@yahoo.com.vn
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td width="356">
                        <p>
                          <em>
                            <strong> 7. </strong>
                            <strong>
                              Xí nghiệp Điện nước Thành phố Châu Đốc
                            </strong>
                          </em>
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Địa chỉ
                          </span>
                          : số 01 Quang Trung &#8211; phường Châu Phú A &#8211;
                          TP Châu Đốc &#8211; tỉnh An Giang.
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Điện thoại
                          </span>
                          : 02963.868.555
                        </p>
                        <p>
                          <span style="text-decoration: underline"> Fax </span>
                          : 02963.866.275
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Email
                          </span>
                          : xndncd_ag@yahoo.com.vn
                        </p>
                      </td>
                      <td width="384">
                        <p>
                          <em>
                            <strong> 8. </strong>
                            <strong>
                              Xí nghiệp Điện nước thị xã Tân Châu
                            </strong>
                          </em>
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Địa chỉ
                          </span>
                          : khóm Long Hưng &#8211; thị xã Tân Châu &#8211; tỉnh
                          An Giang
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Điện thoại
                          </span>
                          : 02963.823.207
                        </p>
                        <p>
                          <span style="text-decoration: underline"> Fax </span>
                          : 02963.532.200
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Email
                          </span>
                          : xndntc_ag@yahoo.com.vn
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td width="356">
                        <p>
                          <em>
                            <strong> 9. </strong>
                            <strong> Xí nghiệp Điện nước huyện Tri Tôn </strong>
                          </em>
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Địa chỉ
                          </span>
                          : ấp Tô Thủy &#8211; xã Núi Tô &#8211; huyện Tri Tôn
                          &#8211; tỉnh An Giang
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Điện thoại
                          </span>
                          : 02963.770.744
                        </p>
                        <p>
                          <span style="text-decoration: underline"> Fax </span>
                          : 02963.770.440
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Email
                          </span>
                          : xndntt_ag@yahoo.com.vn
                        </p>
                      </td>
                      <td width="384">
                        <p>
                          <em>
                            <strong> 10. </strong>
                            <strong>
                              Xí nghiệp Điện nước thị xã Tịnh Biên
                            </strong>
                          </em>
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Địa chỉ
                          </span>
                          : khóm Hòa Hưng &#8211; thị trấn Nhà Bàng &#8211;
                          huyện Tịnh Biên &#8211; tỉnh An Giang
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Điện thoại
                          </span>
                          : 02963.875.389
                        </p>
                        <p>
                          <span style="text-decoration: underline"> Fax </span>
                          : 02963.740.091
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Email
                          </span>
                          : xndntb_ag@yahoo.com.vn
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td width="356">
                        <p>
                          <em>
                            <strong> 11. </strong>
                            <strong> Xí nghiệp Điện nước huyện An Phú </strong>
                          </em>
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Địa chỉ
                          </span>
                          : ấp 4 &#8211; thị trấn An Phú &#8211; huyện An Phú
                          &#8211; tỉnh An Giang
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Điện thoại
                          </span>
                          : 02963.826.935
                        </p>
                        <p>
                          <span style="text-decoration: underline"> Fax </span>
                          : 02963.510.453
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Email
                          </span>
                          : xndnap_ag@yahoo.com.vn
                        </p>
                      </td>
                      <td width="384">
                        <p>
                          <em>
                            <strong> 12. </strong>
                            <strong> Xí nghiệp Xây lắp Điện nước </strong>
                          </em>
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Địa chỉ
                          </span>
                          : Quốc lộ 91 &#8211; phường Bình Đức &#8211; TP.Long
                          xuyên &#8211; tỉnh An Giang
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Điện thoại
                          </span>
                          : 02963.854.348
                        </p>
                        <p>
                          <span style="text-decoration: underline">
                            Email
                          </span>
                          : xndnxl_ag@yahoo.com.vn
                        </p>
                        <p>&nbsp;</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p>&nbsp;</p>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(1353px, 737px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(253px, 517px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(1386px, 1770px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(7px, 1622px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  dir="ltr"
                  style="transform: translate(1386px, 3095px)"
                  title=""
                  data-original-title="Email: xndntc_ag.@yahoo.com.vn"
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(86px, 634px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(1390px, 251px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(1358px, 660px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(1331px, 1620px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(213px, 6px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(1596px, 138px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(745px, 163px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(1387px, 52px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  dir="ltr"
                  style="transform: translate(1337px, 835px)"
                  title=""
                  data-original-title="Email: xndnts_ag.@yahoo.com.vn"
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  dir="ltr"
                  style="transform: translate(1385px, 950px)"
                  title=""
                  data-original-title="Email: xncnlx_ag@yahoo.com.vn"
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  dir="ltr"
                  style="transform: translate(248px, 2743px)"
                  title=""
                  data-original-title="Fax: 02963.532.200"
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(1359px, 3917px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(1391px, 2901px)"
                  title=""
                  data-original-title=""
                ></div>
                <div
                  id="mttContainer"
                  class="bootstrapiso notranslate"
                  style="transform: translate(1386px, 1639px)"
                  title=""
                  data-original-title=""
                ></div>
              </div>
            </article>
          </main>
          <aside
            id="sidebar"
            class="sidebar sidebar-primary widget-area"
            role="complementary"
            aria-label="Primary Sidebar"
            itemscope
            itemtype="https://schema.org/WPSideBar"
          ></aside>
        </div>
      </div>
      <div id="content-banner" class="content-banner section"></div>
      <div id="content-client" class="content-client section"></div>
      <div id="content-fix" class="content-fix"></div>
      <div id="footer"></div>
      <span id="backtotop" title="Lên đầu trang"> ↑ </span>
    </div>
    <script
      type="text/javascript"
      src="/asset/javascript/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/asset/javascript/countup.min.js"
    ></script>
    <script type="text/javascript" src="/asset/javascript/slick.js"></script>
    <script type="text/javascript" src="/asset/javascript/index.js"></script>
  </body>
</html>
<!-- Dynamic page generated in 0.591 seconds, 10.4. -->
<!-- Cached page generated by WP-Super-Cache on 2025-02-03 08:55:02 -->
<!-- super cache -->
<!--1738590902-->
